@page "{cityName}"
@model CriandoUmaRazorPagecomPageModelePropriedade_Vinculada.Pages.CityManager.CityDetailsModel

<h2><strong>Detalhes da Cidade</strong></h2>

@if (!string.IsNullOrEmpty(Model.CityName))
{
    <p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>
}
else
{
    <p>Nome da cidade não fornecido.</p>
}
